


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FAFAFA;
    width: 100vw;
    height: 90vh;
    margin: 20px; 
    padding: 0px;
    gap: 15px;
}

.article{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10%;
    height: 70%;
    
  
}

.divIzquierdo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    
}
    



.divDerecho{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    width: 100%;
    gap: 10px;
    border: 1px solid rgb(178, 178, 178);
    padding-bottom: 20px;
}
    .instagram{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #FFFFFF;
        width: 100%;
        gap: 10px;
        
        padding-bottom: 20px;
    }
   


.img_instagram{
    margin-left: 0px;
}
.usuario{
    font-size: small;
    
    color:black
    
}

.div_usuario{
    margin-left: 10px;
    margin-right:28px ;
}

.div_botones{
    align-items: center;
}
.div_contraseña{
    margin-left: 20px;
    margin-top: 10px;
}
.div_o{
    margin-left: 95px;

}
.div_entrar {
    width: 70%;
    height: 35px;
    background-color: rgb(68, 141, 237);
    color: white;
    border-radius: 5px;
    border-color: grey;
    text-align: center;
    margin-left: 22px;
    margin-top: 10px;
}

.div_facebook{
    margin-left: 15px;
}
    .linea_formulario{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 2px;
        color: grey;
        padding-bottom: 5px;
    }
   
    

    .preguntas{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 50px;
        background-color: #FFFFFF;
       
        padding-top: 30px;
        padding-bottom: 30px;
    }

  

.footer{ 
    margin: 23px;
    margin-left:  100px; 
    width: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 10px;
    font-size: small;
    color: rgb(15, 14, 14);
}


       
.contenedor-grande{
    display: flex;
}    
.contenedor-pequeno{
    display: none;
}

@media screen and (max-width: 875px)
{
    .divIzquierdo{
    display: none;
    }
.divDerecho{
display: flex;
}
}