.grid{
    display: grid;
    grid-template-columns: 600px 400px 600px;
    grid-template-rows: 400px 400px;
}

.a{
    background-color: yellow;
    text-align: center;
    color: white;
}

.b{
    background-color: orange;
    text-align: center;
    color: white;
}

.c{
    background-color: orangered;
    text-align: center;
    color: white;
}

.d{
    background-color: red;
    text-align: center;
    color: white;
}

.e{
    background-color: blue;
    text-align: center;
    color: white;
}

.f{
    background-color: yellow;
    text-align: center;
    color: white;
}

